{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Add a new department</h1>
        {% load crispy_forms_tags %}
        <form method="POST" enctype = "multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{form.dept_name|as_crispy_field}}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{form.dept_location|as_crispy_field}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{form.dept_head|as_crispy_field}}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{form.dept_budget|as_crispy_field}}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{form.no_of_employees|as_crispy_field}}
                </div>
            </div>
            <br>
            <input type="submit" class="btn btn-success" >
        </form>
  
    </div>
{% endblock %}